@model BaiTapLon_Nhom23.Models.QuanAo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>QuanAo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IDSp" class="control-label"></label>
                <input asp-for="IDSp" class="form-control" value="@ViewBag.newID" />
                <span asp-validation-for="IDSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSp" class="control-label"></label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThuongHieu" class="control-label"></label>
                <input asp-for="ThuongHieu" class="form-control" />
                <span asp-validation-for="ThuongHieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaTien" class="control-label"></label>
                <input asp-for="GiaTien" class="form-control" />
                <span asp-validation-for="GiaTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSize" class="control-label"></label>
                <select asp-for="MaSize" class ="form-control" asp-items="ViewBag.MaSize"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaMau" class="control-label"></label>
                <select asp-for="MaMau" class ="form-control" asp-items="ViewBag.MaMau"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
